In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%time
%run create_tables.py

In [1]:
%%time
%run etl.py

Wall time: 2min 50s

In [15]:
%load_ext sql
import configparser

config = configparser.ConfigParser()
config.read('dwh.cfg')

DWH_ENDPOINT= config.get("CLUSTER","HOST")
DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")

conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql://dwhuser:Passw0rd@dwhcluster.cnrntcwlvnjs.us-west-2.redshift.amazonaws.com:5439/dwh

In [20]:
# top 5 most played songs
query = """
select top 5 s.song_id, count(s.song_id),s.title song,a.name artist
from songplays sp
inner join songs s on s.song_id = sp.song_id
inner join artists a on s.artist_id = a.artist_id
group by s.song_id,title,a.name
order by count(s.song_id) desc
"""

%sql $query

 * postgresql://dwhuser:***@dwhcluster.cnrntcwlvnjs.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOBONKR12A58A7A7E0', 37, "You're The One", 'Dwight Yoakam'),
 ('SOHTKMO12AB01843B0', 9, 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon'),
 ('SOUNZHU12A8AE47481', 9, "I CAN'T GET STARTED", 'Ron Carter'),
 ('SOULTKQ12AB018A183', 8, "Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B'),
 ('SOLZOBD12AB0185720', 6, "Hey Daddy (Daddy's Home)", 'Usher featuring Jermaine Dupri')]

In [21]:
# # top 5 most played artist

query = """
select top 5 a.name artist, count(sp.songplay_id)
from songplays sp
inner join artists a on sp.artist_id = a.artist_id
group by a.name
order by count(sp.songplay_id) desc
"""

%sql $query

 * postgresql://dwhuser:***@dwhcluster.cnrntcwlvnjs.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Dwight Yoakam', 37),
 ('Kid Cudi', 10),
 ('Lonnie Gordon', 9),
 ('Ron Carter', 9),
 ('B.o.B', 8)]

In [9]:
%sql select top 5 * from songplays

 * postgresql://dwhuser:***@dwhcluster.cnrntcwlvnjs.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(0, datetime.datetime(2018, 11, 9, 19, 57, 57, 796000), 36, 'paid', 'SODWXQV12A6310F10D', 'AR6892W1187B9AC71B', 392, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (13, datetime.datetime(2018, 11, 14, 15, 14, 54, 796000), 25, 'paid', 'SOVXAXI12A8C1383D9', 'ARY65231187FB46283', 534, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (21, datetime.datetime(2018, 11, 20, 11, 1, 0, 796000), 42, 'paid', 'SONZWDK12A6701F62B', 'ARL4UQB1187B9B74E3', 747, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (30, datetime.datetime(2018, 11, 12, 21, 22, 1, 796000), 12, 'free', 'SOARUPP12AB01842E0', 'ARD46C811C8A414F3F', 371, 'New York-Newark-Jersey City, NY-NJ-PA', 'Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (41, datetime.datetime(2018, 11, 13, 22, 39, 39, 796000), 55, 'free', 'SOXQYSC12A6310E908', 'AR0L04E1187B9AE90C', 415, 'Minneapolis-St. Paul-Bloomington, MN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [17]:
%sql select top 5 * from users

 * postgresql://dwhuser:***@dwhcluster.cnrntcwlvnjs.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [6]:
%sql select top 5 * from songs

 * postgresql://dwhuser:***@dwhcluster.cnrntcwlvnjs.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153.3644400000')),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343.0917900000')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('180.7668899999')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('263.9930200000')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('385.9064900000'))]

In [7]:
%sql select top 5 * from time

 * postgresql://dwhuser:***@dwhcluster.cnrntcwlvnjs.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 11, 13, 796000), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 16, 35, 0, 796000), 16, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 17, 31, 45, 796000), 17, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 18, 2, 42, 796000), 18, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 18, 36, 53, 796000), 18, 2, 44, 11, 2018, 5)]

In [8]:
%sql select top 5 * from artists

 * postgresql://dwhuser:***@dwhcluster.cnrntcwlvnjs.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00DG71187B9B7FCB', 'Basslovers United', '', None, None),
 ('AR00FVC1187FB5BE3E', 'Panda', 'Monterrey, NL, México', Decimal('25.67083'), Decimal('-100.30953')),
 ('AR00JIO1187B9A5A15', 'Saigon', 'Brooklyn', Decimal('40.65507'), Decimal('-73.94888')),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None)]